.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  opacity: 0.5;
}
h1 {
  width: 40vw;
  margin: auto;
}
.carousel-caption h1 {
  font-size: 2.5rem;
}

.carousel-caption {
  bottom: initial;
  top: 50%;
  transform: translateY(-50%);
}

.working {
  margin-top: 15%;
}
.bg-working {
  background-color: #f4fafd;
}
.btn-primary-register {
  background-color: white;
}
.btn-primary-register:hover {
  color: rgb(212, 87, 9);
}
.text-footer {
  color: black;
}
